node_modules
vendor
.env
.env.*
public/build
public/hot
public/storage
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
dist_electron
database/database.sqlite
.git
.gitignore
.php-version
electron.cjs
nixpacks.toml
